@import './variables.scss';

.p-tabmenu .p-tabmenu-nav {
  padding: 1px !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border-color: #ffffff #ffffff #ffffff #ffffff !important;
  border-width: 1px 1px 3px 1px;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: #fff #fff var(--secondary-color) #fff !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: none !important;
}
